[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
django-extensions = "*"

[packages]
django = "*"
djangorestframework = "*"
django-configurations = "*"
django-cors-headers = "*"
django-model-utils = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
